/* Admin Panel Tasarımı */
.panel-container {
  display: flex;
  justify-content: center; /* Paneli yatayda ortalamak için */
  align-items: flex-start; /* Dikeyde ortalamak yerine sayfanın üst kısmına yerleştiriyoruz */
  min-height: 100vh; /* Sayfanın tamamını kapsayacak şekilde */
  padding: 20px; /* Sayfa kenarlarına boşluk */
  background-color: #525152;
}

.panel {
  width: 100%;
  max-width: 800px; /* Panelin genişliğini sınırlamak */
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Bölümler arasında boşluk */
}

/* Başlık kısmı */
.panel-header {
  background-color: #638cd3;
  color: rgb(4, 4, 4);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}

/* İçerik bölümü */
.content {
  padding: 20px;
}

.content h2 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.content .link {
  display: block;
  padding: 10px;
  background-color: #f7f9fc;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.content .link:hover {
  background-color: #4e73df;
  color: white;
  transform: scale(1.05); /* Hover sırasında hafif büyüme efekti */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge ekleme */
}

/* Footer */
footer {
  background-color: #f7f9fc;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #777;
  border-radius: 5px;
}

/* Mobile ve tablet uyumlu tasarım */
@media (max-width: 768px) {
  .panel {
    width: 100%;
    padding: 20px;
  }

  .menu a {
    padding: 12px;
    font-size: 14px;
  }

  .content .link {
    padding: 8px;
    font-size: 14px;
  }
}
